button{
    background-color:black;
    color: white;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.conatiner nav{
   background-color: black;
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
}

.listed{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    cursor: pointer;

}
.listed ul:hover{
    transition: all;
}